.table {
  height: 100vh;
  background-color: #00a651;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-card {
  position: relative;
  float: left;
  margin-right: 10px;
  width: 350px;
  height: 450px;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}

.header-card {
  height: 100px;
  padding-left: 25px;
}
.center-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}
.footer-card {
  height: 100px;
  display: flex;
  justify-content: right;
  align-items: end;
  padding-right: 25px;
}
span {
  font-size: 108px;
}
span.numero {
  font-size: 165px;
}
